<div class="top-menu" style="background-color: #fff; border-bottom: 1px solid #00aca6;">
  <div class="top-menu-header">{{title}}</div>
  <div style="display: flex; flex-direction: row;">
    <environment-select></environment-select>
  </div>
</div>

<div class="view-content-container" style="background-color: #eee;">
  <div class="card-container">
    Evaluations helps you to measure the improvements of changes in the search request, the mappings and the request pretreatments.
    Using Evaluations is very useful to ensure that any change you made does not suddenly drop you overall search relevancy.
  </div>

  <div class="card-container">
    <div class="card-title">Evaluation context</div>

    <div>Evaluation name</div>

    <div>Evaluation description</div>
    <span>Use this field to describe the changes made compared to the previous version</span>

    <div>
      Evaluation dataset
      <div>
        An evaluation dataset consists in a list of user queries and the expected document ids that should be returned. This dataset is used to test for each user query if the documents returned by elasticsearch match or not.
        You can create an evaluation dataset either using a csv file, calling an API endpoint, manually tagging search requests or using a custom script.</div>
    </div>

    <div>Search template
      <div></div>
    </div>

    <div>
      Request pretreatment
      <div>The request pretreatments allows to modify the raw user request before sending the search request. You can either use an ingest pipe, a custom endpoint or a custom script to define pretreatments.</div>
    </div>

    <div>
      Index
      <div>Index containing the documents to search. To get reproducible results, use a readonly index.</div>
    </div>

  </div>

  <div class="card-actions-container">
    <button *ngIf="environmentId" (click)="updateEnvironment()" class="btn btn-info" [disabled]="!connectionUrlStatus.isAlive">Update environment</button>
    <button *ngIf="!environmentId" (click)="createEnvironment()" class="btn btn-info" [disabled]="!connectionUrlStatus.isAlive">
      Create environment
    </button>
<!--    <button class="btn btn-default">Cancel</button>-->
  </div>

<!--  <div class="card-container">-->
<!--    <div class="card-title">Environment settings</div>-->
<!--    <div>-->

<!--    </div>-->
<!--  </div>-->

<!--  <div class="card-container" style="flex-grow: 1; display: flex; flex-direction: column; overflow: hidden; padding-right: 0;">-->
<!--    <div class="card-title" style="flex: 0">Enabled endpoints-->
<!--      <div class="card-subtitle">Only the selected endpoints will be available in the request builder</div>-->
<!--    </div>-->

<!--    <div style="overflow: auto; flex: 1; ">-->
<!--      <div *ngFor="let taggedEndpoint of taggedEndpoints$ | async">-->

<!--        <div>-->
<!--          <i style="margin-right: 10px;" (click)="toggleShowEndpoints(taggedEndpoint)" class="fal fa-caret-right"></i>-->
<!--          <span>{{taggedEndpoint.label}}</span>-->
<!--          <div *ngIf="!taggedEndpoint['showEndpoints']" style="font-weight: 100; font-size: 12px;">{{taggedEndpoint.description}}</div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <span>{{taggedEndpoint.label}} ({{taggedEndpoint['endpoints'].length}} endpoints) </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span>{{taggedEndpoint.description}}</span>&ndash;&gt;-->
<!--        <div *ngIf="taggedEndpoint['showEndpoints']">-->
<!--          <div *ngFor="let endpoint of taggedEndpoint['endpoints']" style="margin-bottom: 10px;">-->
<!--              <input type="checkbox" >-->
<!--              <span style="margin-left: 5px;">{{endpoint.id}}</span>-->
<!--              <div style="margin-left: 20px;">-->
<!--                <span style="margin-right: 5px;" class="badge-outline-blue badge-sm"-->
<!--                         *ngFor="let method of endpoint.methods">{{method}}</span>-->
<!--                <span style="font-weight: 100; font-size: 13px;">{{endpoint.description}}</span>-->
<!--              </div>-->
<!--              &lt;!&ndash;              <span class="badge-outline-blue badge-sm" style="margin-left: 10px; border-width: 0;" *ngFor="let pattern of endpoint.patterns">{{pattern}}</span>&ndash;&gt;-->
<!--              <div style="margin-left: 20px; border-width: 0; font-size: 13px; font-weight: 100;" *ngFor="let pattern of endpoint.patterns; let last = last">-->
<!--                {{pattern}}-->
<!--                <span *ngIf="!last" style="color: red; font-weight: 400;">,</span>-->
<!--              </div>-->


<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
