.tag {
  display: inline-block;
  font-size: 11px;
  border-radius: 3px;
  padding: 0 3px;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  line-height: 15px;
  background-color: #fff;
}

.tag-info {
  color: #00aca6;
  border: 1px solid #00aca6;
}

.tag-warning {
  color: #ff872f;
  border: 1px solid #ff872f;
}

.ng-select.custom ::ng-deep {
  .ng-option.ng-option-marked {
    background-color: #33dddd;
  }

  .ng-select-container .ng-value-container .ng-value {
    background-color: #fff !important;
    border: 1px solid #00aca6;
    color: #00aca6;
    font-size: 14px;
    padding: 1px 7px;
    cursor: pointer;
    &:hover {
      .item-remove-cross {
        display: inline-block;
      }
    }
  }

  .item-remove-cross {
    font-weight: bold;
    padding-right: 5px;
    display: none;
    color: #cf2147;
  }
}
