<ng-select class="custom" [items]="values$ | async"
           bindLabel="name"
           [multiple]="true"
           [addTag]="true"
           placeholder="Indices"
           autofocus
           bindValue="id"
           [(ngModel)]="index"
           addTagText="Index pattern">
  <ng-template ng-label-tmp let-item="item"  let-clear="clear">
    <span (click)="clear(item)">
      <span class="item-remove-cross" aria-hidden="true">×</span>
      <span>{{item.name}}</span>
    </span>
  </ng-template>

  <ng-template ng-option-tmp let-item="item">
    <span class="tag tag-info" [ngClass]="{'tag-info': item.type === 'index', 'tag-warning': item.type === 'alias'}">{{item.type}}</span> {{item.name}}
  </ng-template>
</ng-select>
