.dropdown.show {
  .btn-outline-info {
    color: #00aca6;
  }
}

.btn-outline-info {
  &.show {
    color: #00aca6;
  }
  color: #00aca6;
  &:hover {
    color: #00aca6;
  }
}

.dropdown-menu {
  .dropdown-item {
    cursor: pointer;
    line-height: 24px;
    &:hover {
      background-color: #EEE;
      color: #00aca6;
    }
  }
}
