<div style="z-index: 1000; margin-right: 10px;">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-info" style="background-color: #fff;" id="dropdownBasicEnvironments" ngbDropdownToggle>{{currentEnvironmentLabel}} </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasicEnvironments">
      <div ngbDropdownItem *ngFor="let environment of environments$ | async">
        <span (click)="selectEnvironment(environment)"  style="font-weight: 300;">{{environment.url}}</span>
      </div>
      <a ngbDropdownItem [routerLink]="['/environments/add']">
        <i class="fa fa-plus"></i> Add environment
      </a>
    </div>
  </div>
</div>
