//.environment-container {
//  padding: 15px;
//  margin: 10px;
//  background-color: #fff;
//  border-radius: 3px;
//  border-bottom: 1px solid #ccc;
//
//  .environment-name {
//    font-size: 24px;
//  }
//}

.environment-actions {
  margin-top: 10px;
  .btn {
    margin-right: 5px;
  }
}
