<div class="top-menu">
  <div class="top-menu-header">
    Environments
  </div>
  <div style="display: flex; flex-direction: row;">
    <div>
      <a [routerLink]="['/environments/add']" class="btn-info btn" style="margin-right: 10px;"><i
        class="fa fa-plus"></i> Add Environment</a>
    </div>
    <environment-select></environment-select>
  </div>
</div>

<div class="view-content-container" style="background-color: #eee;">
  <div class="card-container" *ngFor="let environment of environments$ | async">
    <div class="environment-name">{{environment.name}}</div>
    <div>{{environment.url}}</div>

    <div class="environment-actions" *ngFor="let tryDelete of [false]">
      <div *ngIf="!tryDelete">
        <a [routerLink]="['/environments/edit/' + environment.id]" class="btn-outline-info btn btn-sm">
          <i class="fa fa-pen"></i> Edit
        </a>
        <button (click)="tryDelete = true;" class="btn-outline-danger btn btn-sm">
          <i class="fa fa-times"></i> Remove
        </button>
      </div>
      <div *ngIf="tryDelete">
        <div>Confirm delete environment</div>
        <button (click)="tryDelete = false;" class="btn-outline-default btn btn-sm">Cancel</button>
        <button (click)="tryDelete = false; deleteEnvironment(environment.id)" class="btn-outline-danger btn btn-sm">
          <i class="fa fa-times"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>
