@import "../../../../styles/colors";

.left-menu {
  width: 200px;
  min-height: 100%;
  background-color: #303540;

  .header-title {
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    border-bottom: 1px solid $turquoise_4;

    font-size: 25px;
    color: #FFF;
    background-color: #23262d;

    .header-app-icon {
      position: relative;
      top: 2px;
      margin-right: 7px;
      color: $turquoise_4;
    }

    .header-app-name-emph {
      color: $turquoise_4;
    }
  }

  .left-menu-element {
    color: #FFF;
    margin: 10px 5px;
    padding: 5px 0;
    text-align: left;
    border: 1px solid transparent;
    line-height: 30px;
    font-size: 20px;


    &:hover {
      color: $turquoise_4;
      border-color: $turquoise_4;
      border-radius: 4px;
      cursor: pointer;
    }

    .left-menu-label {
      line-height: 20px;
      font-size: 15px;
      display: inline-block;
      position: relative;
      top: -3px;
    }

    .left-menu-icon {
      width: 45px;
      text-align: center;
    }
  }
}
