<div style="display: flex; flex-direction: row; min-height: 100%; height: 100%; max-height: 100%; position:absolute; width: 100%;">
  <div class="left-menu">
    <div class="header-title">
      <span class="header-app-icon"><i class="icon-diamond"></i></span>
      <span>Qu</span><span class="header-app-name-emph">es</span><span>t</span>
    </div>
    <div routerLink="{{menuElement.url}}" class="left-menu-element" *ngFor="let menuElement of menuElements">
      <div style="display: inline-block;" class="left-menu-icon" >
        <i [ngClass]="menuElement.icon"></i>
      </div>
      <div class="left-menu-label">
        {{menuElement.label}}
      </div>
    </div>
  </div>

  <div style="flex-grow: 1; flex-direction: column; position: relative; width: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>
