.item-api-id {
  border-radius: 3px;
  color: #ff872f;
  border: 1px solid #ff872f;
  margin-right: 10px;
  font-size: 14px;
  padding: 1px 5px;
}

.item-path-pattern {
}

.ng-select.api-select ::ng-deep {
  .ng-select-container:after {
    border-bottom-color: transparent;
  }
}
