<ng-select class="api-select" [items]="endpoints"
           placeholder="API"
           autofocus
           (change)="handleApiChanged($event)"
           [searchFn]="search"
           [(ngModel)]="requestCtx.endpoint">
  <ng-template ng-label-tmp let-item="item"  let-clear="clear">
    <span (click)="clear(item)">
      <span>{{item.api.id}}</span>
      <span>{{item.api.pathPattern}}</span>
    </span>
  </ng-template>

  <ng-template ng-option-tmp let-item="item">
    <span class="item-api-id">{{item.api.id}}</span>
    <span class="item-path-pattern">{{item.pathPattern}}</span>
  </ng-template>
</ng-select>
