.request-endpoint-container {
  //padding: 0 10px 10px 10px;
  border-bottom: 1px solid #2f323e;

  .request-path-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #2f323e;
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .ng-select.http-method-select ::ng-deep {
    .ng-select-container:after {
      border-bottom-color: transparent;
    }
    .ng-option {
      padding: 3px;
      min-height: auto;
      line-height: inherit;
      min-width: 100px;
    }
    .ng-arrow-wrapper {
      display: none;
    }
  }

  .request-http-method {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    //border: 1px solid #00aca6;
    color: #00aca6;
    padding: 1px 5px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer !important;
  }
}

