<div class="top-menu">
  <div class="top-menu-header">
    Request Builder
  </div>
  <div>
    <environment-select></environment-select>
  </div>
</div>

<div class="view-content-container">
  <div style="display: flex; flex-direction: row; height: 100%; min-height: 100%;">
    <as-split unit="percent" [direction]="'horizontal'" gutterSize="5">
      <as-split-area size="60" style="display: flex; flex-direction: column;">
        <div class="request-endpoint-container">
          <div style="padding: 0 10px;">
            <api-input [requestCtx]="requestCtx" (endpointChanged)="handleApiChanged($event)"></api-input>
          </div>
          <div *ngIf="requestCtx.endpoint" class="request-path-container">
            <ng-select class="http-method-select"
                       [items]="requestCtx.endpoint.api.methods"
                       [(ngModel)]="requestCtx.method"
                       [clearable]="false"
                       style="padding-right: 10px;">
              <ng-template ng-label-tmp let-item="item">
                <span class="request-http-method">{{item}}</span>
              </ng-template>

              <ng-template ng-option-tmp let-item="item">
                <span class="request-http-method">{{item}}</span>
              </ng-template>
            </ng-select>

            <div *ngFor="let pathElement of requestCtx.endpoint.pathElements let last = last;" style="display: flex; flex-direction: row;">
              <div *ngIf="pathElement.isParameter">
                <path-param-input [requestCtx]="requestCtx" [pathParam]="pathElement"></path-param-input>
              </div>
              <div *ngIf="!pathElement.isParameter" style="margin-top: 20px;">{{pathElement.name}}</div>
              <div *ngIf="!last" style="padding: 0 6px; margin-top: 20px;">/</div>
            </div>
          </div>
        </div>
        <request-editor style="flex-grow: 1;" (sendQueryEvent)="sendRequest()" [query]="requestCtx"></request-editor>
      </as-split-area>
      <as-split-area size="40">
        <es-response [data]="jsonResponse"></es-response>
      </as-split-area>
    </as-split>
  </div>
</div>

