.tag {
  display: inline-block;
  font-size: 11px;
  border-radius: 3px;
  padding: 0 3px;
  text-align: center;
  line-height: 15px;
  background-color: #fff;
  margin-right: 5px;
}

.tag-info {
  color: #00aca6;
  border: 1px solid #00aca6;
}

.tag-warning {
  color: #ff872f;
  border: 1px solid #ff872f;
}

.ng-select.path-param-select ::ng-deep {
  .ng-option.ng-option-marked {
    background-color: #33dddd;
  }
  .ng-option {
    line-height: 17px;
    min-height: 0;
    padding: 10px 10px;

    .option-description {
      font-size: 13px;
      color: #777;
      font-weight: 100;
    }
    .option-value {
      font-size: 14px;
      margin-bottom: 4px;
    }
  }

  .ng-select-container .ng-value-container .ng-value {
    background-color: #fff !important;
    color: #2f323e;
    font-size: 14px;
    margin-right: 0;
    padding-left: 0;

    &:hover {
      .item-remove-cross {
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  .ng-clear-wrapper {
    display: none;
  }

  .item-remove-cross {
    font-weight: bold;
    padding-right: 5px;
    display: none;
    color: #cf2147;
  }
}
