<ng-select class="path-param-select" [items]="values$ | async"
           bindLabel="value"
           [multiple]="true"
           [addTag]="addTagHandler"
           [placeholder]="pathParam.name"
           (change)="pathParamChanged($event)"
           [(ngModel)]="index"
           addTagText="Index pattern"
           [style.width.px]="inputWidth"
           (focus)="handleFocus()"
           [clearable]="true"
           (blur)="handleBlur()">
  <ng-template ng-option-tmp let-item="item">

    <div class="option-value">
      {{item.value}}
    </div>
    <div>
      <span *ngFor="let tag of item.tags" class="tag" [ngClass]="tag.className">
        {{tag.value}}
      </span>
      <span class="option-description">{{item.description}}</span>
    </div>

  </ng-template>

  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
    <div class="ng-value" *ngFor="let item of items; let last = last">
        <span class="item-remove-cross" aria-hidden="true" (click)="clear(item)">×</span>
        <span>{{item.value}}</span>
        <span *ngIf="!last">,</span>
    </div>
<!--    <div class="ng-value" *ngIf="items.length > 2" >-->
<!--      <span class="ng-value-label">{{items.length - 2}} more...</span>-->
<!--    </div>-->
  </ng-template>
</ng-select>
