<div class="top-menu" style="background-color: #fff; border-bottom: 1px solid #00aca6;">
  <div class="top-menu-header">{{title}}</div>
<!--  <div style="display: flex; flex-direction: row;">-->
<!--    <environment-select></environment-select>-->
<!--  </div>-->
</div>

<div class="view-content-container" style="background-color: #eee;">
  <div class="card-container">
    <div class="card-title">Elasticsearch Connection Url</div>
    <div style="display: flex; flex-direction: row;">
      <ng-select [clearable]="false"
                 style="min-width: 100px; margin-top: 12px;" [items]="protocols" placeholder="Protocol"
                 (ngModelChange)="checkConnectionUrl()" autofocus [(ngModel)]="environment.connectionUrl.protocol">
      </ng-select>
      <div class="form-group" style="margin-left: 10px; margin-right: 10px; width: 350px;">
        <input type="text" id="host" [(ngModel)]="environment.connectionUrl.host" (ngModelChange)="checkConnectionUrl()"
               class="form-field" placeholder="Host">
        <label for="host" class="form-label">Host</label>
      </div>

      <div class="form-group" style="width: 100px;">
        <input type="text" id="port" [(ngModel)]="environment.connectionUrl.port" (ngModelChange)="checkConnectionUrl()"
               class="form-field" placeholder="Port2">
        <label for="port" class="form-label">Port</label>
      </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 50%; margin: 10px 0;">
      <div class="counter-item">
        <div class="counter-label">Connection status</div>
        <div class="counter-value">
          <span *ngIf="connectionUrlStatus.isAlive" class="badge-green badge-sm">working</span>
          <span *ngIf="!connectionUrlStatus.isAlive" class="badge-red badge-sm">failed to connect</span>
        </div>
      </div>

      <div class="counter-item" *ngIf="connectionUrlStatus.isAlive">
        <div class="counter-label">Name</div>
        <div class="counter-value">{{connectionUrlStatus.info.name}}</div>
      </div>

      <div class="counter-item" *ngIf="connectionUrlStatus.isAlive">
        <div class="counter-label">Cluster Name</div>
        <div class="counter-value">{{connectionUrlStatus.info.cluster_name}}</div>
      </div>

      <div class="counter-item" *ngIf="connectionUrlStatus.isAlive">
        <div class="counter-label">Elasticsearch version</div>
        <div class="counter-value">{{connectionUrlStatus.info.version.number}}</div>
      </div>

      <div class="counter-item" *ngIf="connectionUrlStatus.isAlive">
        <div class="counter-label">Lucene version</div>
        <div class="counter-value">{{connectionUrlStatus.info.version.lucene_version}}</div>
      </div>
    </div>
  </div>

  <div class="card-actions-container">
    <button *ngIf="environmentId" (click)="updateEnvironment()" class="btn btn-info" [disabled]="!connectionUrlStatus.isAlive">Update environment</button>
    <button *ngIf="!environmentId" (click)="createEnvironment()" class="btn btn-info" [disabled]="!connectionUrlStatus.isAlive">
      Create environment
    </button>
<!--    <button class="btn btn-default">Cancel</button>-->
  </div>

<!--  <div class="card-container">-->
<!--    <div class="card-title">Environment settings</div>-->
<!--    <div>-->

<!--    </div>-->
<!--  </div>-->

<!--  <div class="card-container" style="flex-grow: 1; display: flex; flex-direction: column; overflow: hidden; padding-right: 0;">-->
<!--    <div class="card-title" style="flex: 0">Enabled endpoints-->
<!--      <div class="card-subtitle">Only the selected endpoints will be available in the request builder</div>-->
<!--    </div>-->

<!--    <div style="overflow: auto; flex: 1; ">-->
<!--      <div *ngFor="let taggedEndpoint of taggedEndpoints$ | async">-->

<!--        <div>-->
<!--          <i style="margin-right: 10px;" (click)="toggleShowEndpoints(taggedEndpoint)" class="fal fa-caret-right"></i>-->
<!--          <span>{{taggedEndpoint.label}}</span>-->
<!--          <div *ngIf="!taggedEndpoint['showEndpoints']" style="font-weight: 100; font-size: 12px;">{{taggedEndpoint.description}}</div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <span>{{taggedEndpoint.label}} ({{taggedEndpoint['endpoints'].length}} endpoints) </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span>{{taggedEndpoint.description}}</span>&ndash;&gt;-->
<!--        <div *ngIf="taggedEndpoint['showEndpoints']">-->
<!--          <div *ngFor="let endpoint of taggedEndpoint['endpoints']" style="margin-bottom: 10px;">-->
<!--              <input type="checkbox" >-->
<!--              <span style="margin-left: 5px;">{{endpoint.id}}</span>-->
<!--              <div style="margin-left: 20px;">-->
<!--                <span style="margin-right: 5px;" class="badge-outline-blue badge-sm"-->
<!--                         *ngFor="let method of endpoint.methods">{{method}}</span>-->
<!--                <span style="font-weight: 100; font-size: 13px;">{{endpoint.description}}</span>-->
<!--              </div>-->
<!--              &lt;!&ndash;              <span class="badge-outline-blue badge-sm" style="margin-left: 10px; border-width: 0;" *ngFor="let pattern of endpoint.patterns">{{pattern}}</span>&ndash;&gt;-->
<!--              <div style="margin-left: 20px; border-width: 0; font-size: 13px; font-weight: 100;" *ngFor="let pattern of endpoint.patterns; let last = last">-->
<!--                {{pattern}}-->
<!--                <span *ngIf="!last" style="color: red; font-weight: 400;">,</span>-->
<!--              </div>-->


<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
