/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

@import "styles/colors";
@import "styles/ng-select-angular-custom";
@import "styles/forms";
@import "styles/cards";
@import "styles/badges";

@import "~@fortawesome/fontawesome-pro/css/all.css";
@import "assets/fonts/egoicons/style.css";

// Bootstrap css
@import url(///stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css);

@import '~ngx-toastr/toastr';


html, body {
  height: 100%;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  font-family: Roboto, serif;
}

:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
}
.btn.focus {
  box-shadow: none;
}

.top-menu {
  z-index: 100;
  height: 60px;
  line-height:60px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #00aca6;

  .top-menu-header {
    flex: 1;
    padding-left: 15px;
    font-size: 26px;
    font-weight: 100;
    color: darken(#33dddd, 20);
  }
}
