@import "./colors";

$colors: ("blue": $blue_base, "red": $red_base, "green": $green_6);

@each $name, $color in $colors {
  .badge-outline-#{$name} {
    background-color: #fff;
    border: 1px solid $color;
    color: $color;
    border-radius: 3px;
    font-size: 14px;
    padding: 1px 5px;
  }

  .badge-#{$name} {
    border: 1px solid $color;
    background-color: $color;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 14px;
    padding: 1px 5px;
  }
}

.badge-square {
  border-radius: 0;
}

.badge-sm {
  font-size: 12px;
  padding: 1px 4px;
}

.badge-xs {

}

.badge-md {

}

.badge-lg {

}

.badge-xm {

}
