

.view-content-container {
  overflow: auto;
  position: relative;
  height: 100%;
  padding: 60px 0 10px 0;
  //padding-top: 60px;

  display: flex;
  flex-direction: column;

  .card-container {
    background-color: #FFFFFF;
    padding: 15px;
    border-bottom: 1px solid #EEEEEE;
    margin: 10px 10px 0 10px;

    .card-title {
      text-transform: uppercase;
      font-weight: 100;

      .card-subtitle {
        text-transform: none;
        font-weight: 100;
        font-size: 12px;
      }
    }
  }


  .card-actions-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    //justify-content: flex-start;

    button {
      margin-right: 10px;
    }
  }
}

