
$turquoise: #189292;
$blue-flashy: #33dddd;
$pink-flashy: #cf2147;

$blue_lightest: #CFEDFB;
$blue_light: #9BDAF3;
$blue_lighten: #68C7EC;
$blue_4: #34B3E4;
$blue_base: #00A0DC;
$blue_6: #008CC9;
$blue_darken: #0077B5;
$blue_dark: #005E93;
$blue_darkest: #004471;

$purple_lightest: #EBE4FF;
$purple_light: #D8CCF4;
$purple_lighten: #BFABE6;
$purple_4: #A589D9;
$purple_base: #8C68CB;
$purple_6: #7C5BBB;
$purple_darken: #6A4BA7;
$purple_dark: #573B93;
$purple_darkest: #452B7F;

$red_lightest: #FFE0DA;
$red_light: #FAC2BB;
$red_lighten: #F59890;
$red_4: #F16D64;
$red_base: #EC4339;
$red_6: #DD2E1F;
$red_darken: #C11F1D;
$red_dark: #A40F1C;
$red_darkest: #88001A;

$orange_lightest: #FFE7BB;
$orange_light: #F8CD94;
$orange_lighten: #F7B26A;
$orange_4: #F59640;
$orange_base: #F47B16;
$orange_6: #EC640C;
$orange_darken: #CD5308;
$orange_dark: #AF4104;
$orange_darkest: #903000;

$turquoise_lightest: #D2ECEB;
$turquoise_light: #9EDDDD;
$turquoise_lighten: #69CDCF;
$turquoise_4: #35BEC1;
$turquoise_base: #00AEB3;
$turquoise_6: #009EA5;
$turquoise_darken: #008891;
$turquoise_dark: #00727D;
$turquoise_darkest: #005C69;

$yellow_lightest: #FFF2B6;
$yellow_light: #FBE491;
$yellow_lighten: #F7D56B;
$yellow_4: #F3C746;
$yellow_base: #EFB920;
$yellow_6: #E6A700;
$yellow_darken: #CA9400;
$yellow_dark: #AA7D00;
$yellow_darkest: #8B6700;

$pink_lightest: #FFDFF2;
$pink_light: #FFC4E4;
$pink_lighten: #F99ACA;
$pink_4: #F371AF;
$pink_base: #ED4795;
$pink_6: #E2247F;
$pink_darken: #C9186E;
$pink_dark: #B10C5C;
$pink_darkest: #870044;

$green_lightest: #E0F4BE;
$green_light: #C7E59A;
$green_lighten: #AED677;
$green_4: #95C753;
$green_base: #7CB82F;
$green_6: #60AA14;
$green_darken: #4E8F13;
$green_dark: #3B7511;
$green_darkest: #295A10;

$grey_lightest: #E6E9EC;
$grey_light: #D0D3D6;
$grey_lighten: #B6B9BC;
$grey_4: #A0A3A6;
$grey_base: #86898C;
$grey_6: #737679;
$grey_darken: #595C5F;
$grey_dark: #434649;
$grey_darkest: #303336;
